/* Import external fonts */
@import url('https://fonts.googleapis.com/css?family=Muli');

* {margin:0;padding:0;}

body {
    background: #fcfcfc;
    font-family: 'Muli', sans-serif;
}

/* Main Navigation bar */

/* Outer container to help with alignment */
.nav {
    width: 100%;
    display: block;
    top: 0;
    background: #fea65f;
    background-image: linear-gradient(50deg, #fea65f 10%, #fba35f 80%);
    box-shadow: 0 1px 1px rgba(0,0,0,0.28)
}

/* Inner container to help with alignment */
.nav .content-inner {
    margin: auto;
    width: 95%;
    color: #fff;
    display: table;
}

/* Variable for each element inside the navbar */
.nav .content-inner .col { display: table-cell; vertical-align: middle; }

/* Title */
.nav .content-inner .col:first-child {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    padding:.5% 0;
}

/* User Panel */
.nav .content-inner .col:last-child {
    text-align: right;
    cursor: pointer;

}

/* Dropdown */
.nav .content-inner .col:last-child .dropdown {
    background: #fba35f;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px black;
    position: absolute;
    right: 0;
    width: 10%;
    display: none;
}

/* Show the dropdown when user hovers over parent element */
.nav .content-inner .col:last-child:hover .dropdown {
    display: block;
}

/* idk i'm too non-sober for this */
.nav .content-inner .col:last-child .dropdown ul {
    list-style: none;
    text-align: left;
    font-weight: normal;
}

body .main-content-inner {
    width: 85%;
    margin: auto;
}

body .main-content-inner .applications .content-holder {
    width: 80%;
    margin: 2% auto;
    border-radius: 5px;
    background: #e2e2e2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.44);
}
body .main-content-inner .applications .content-holder .title {
    display: table;
    width: 95%;
    padding: 1.5% 0;
    margin:auto;
    cursor: pointer;
}
body .main-content-inner .applications .content-holder .title span {display: table-cell;}
body .main-content-inner .applications .content-holder .title span:first-child {text-align:left;}
body .main-content-inner .applications .content-holder .title span:last-child {text-align:right;}

body .main-content-inner .applications .content-holder .title span:last-child i.fa-caret-down {display:none;}
body .main-content-inner .applications .content-holder .title span:last-child i.fa-caret-right {display:block;}
body .main-content-inner .applications .content-holder.active .title span:last-child i.fa-caret-right {display:none;}
body .main-content-inner .applications .content-holder.active .title span:last-child i.fa-caret-down {display:block;}

body .main-content-inner .applications .content-holder .content {
    display:none;
}
body .main-content-inner .applications .content-holder.active .content {
    display: block;
    width: 100%;
}

body .main-content-inner .applications .content-holder .content table {
    border: none;
    width: 95%;
    margin: auto;
    border-collapse: collapse;
}

body .main-content-inner .applications .content-holder .content table th {
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff8b3f;
    color: white;

}
body .main-content-inner .applications .content-holder .content table tr:hover {background-color: #ddd;cursor: pointer;}

body .main-content-inner .applications .content-holder .content table tr {
    background: #d4d4d4;
    color: #000;
}
body .main-content-inner .applications .content-holder .content table td {
    padding: 0.5%;
}

/*
 * Stelch Watermark
 */

body .watermark {
    position: absolute;
    bottom:0;width:100%;
    padding: 1.5% 0;
    text-align:center;
    background: #efefef;
    color: #a4a4a4;
    cursor: pointer;
}
body .watermark i {
    font-style: normal;
}
body .watermark:hover i {
    color: #55a1ff;
}
/*
 * RESETS
 */

/* Link reset */
a:link,a:visited {
    color: inherit;text-decoration: inherit;
}